/* Fondo global para toda la página */
html, body {
  background-color: #5f5d5d;
  color: #f4f4f4;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

/* Enlace sin subrayado */
a {
  text-decoration: none;
  color: inherit;
}

/* Sombra suave en tarjetas */
.box {
  box-shadow: 0 2px 10px #dadada;
  background-color: #312d2d;
  color: #f9f9f9;
}

/* Inputs oscuros */
input, select, textarea {
  background-color: #5d5b5b !important;
  color: #f5eded !important;
  border: 1px solid #5b5b5b !important;
}

/* Botones destacados */
.button.is-primary {
  background-color: #00bfff;
  color: white;
  border: none;
}

.button.is-link {
  background-color: #00bfff;
  color: rgb(249, 244, 244);
}

.button.is-light {
  background-color: #00bfff;
  color: #f9f6f6;
}

/* Títulos personalizados */
.title {
  color: #f2f3f3;
}

.label {
  color: #bab8b8;
  opacity: 1;
}
/* Placeholder brillante sobre fondo oscuro */
::placeholder {
  
  color: #1d1f20; /* Celeste claro o azul hielo */
  font-weight: 500;
  opacity: 1; /* Asegura que se vea completo */
}
/* Estilo para el contenedor de la tabla */
.table-container {
  max-width: 100%;
  overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
  margin-top: 20px;

}
.my-custom-table thead {
  background-color: #00bfff;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.my-custom-table tbody tr:hover {
  background-color: #2a2a2a;
  color: #aeeaff;
}

.my-custom-table td {
  padding: 0.75em 1em;
  border-bottom: 1px solid #444;
}

.my-custom-table th {
  border-bottom: 2px solid #00bfff;
}

.my-custom-table {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
